<!DOCTYPE html>
<html lang="en">
<head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
         <title>Document</title>
</head>
<body>
         <form method="POST" action="/process">
                  <div class="Wrapper">
                           <h1 class="Title">Fake News Detector</h1>
                           <div class="Input">
                             <input type="text" id="input" class="Input-text" name="news" placeholder="Type the News" required>
                             <label for="input" class="Input-label">News</label>
                             <div class="container">
                             <button class="button" type="submit">Submit</button>
                             <h2 class = "valu">{{val}}</h2>
                           </div>
                           </div>
                  </div>
         </form>
         
</body>
<script>
         // Retrieve the background color value from Flask variable
         var bgColor = "{{ color }}";
 


         document.body.style.backgroundColor = bgColor;

 
     </script>
</html>